

.filters > nav{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding: 5px;
}

.filters > nav::-webkit-scrollbar{
    width: 0;
}

.filters > nav > select{
    border-radius: 30px;
    background-color: white;
    width: 150px;
    min-width: 130px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    overflow-x: scroll;
    border: none;
    box-shadow: 0px 0px 10px #dedede
}


.filters > nav > select:focus{
    border: 0;
    outline: none;
}

.filters > nav > select:hover{
    overflow: none;
    overflow-y: scroll;
}



